body {
	background-color: #090909;
}

.opacity {
	opacity: 65%;
}

a:link {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:active {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
  }


footer {
	display: block;
	text-align: center;
	padding: 2px;
	background-color: #090909;
	color: white;
	font-family: 'Poppins';
	font-size:8px;
	font-weight:600;
}

.menuimage {
	width: 100%;
	height: auto;
}

.pdd {
	padding: 5%;
}

.bgc {
	background-color: #090909;
}

.pdx {
	padding-top: 5%;
	padding-bottom: 5%;
}

.center {
	margin: auto;
	width: 100%;
	padding: 20px;
    padding-top: 20px;
}

* {
	font-family: 'Poppins', sans-serif;
}

.parent {
	align-items: center;
	display: flex;
	justify-content: center;
}