body {
	background: linear-gradient(135deg, #320F12 0%, #5B2328 100%);
	mix-blend-mode: normal;

}

.menuimg {
	width: 100%;
	height: auto;
}

.pdd {
	padding: 5%;
}

.bgc {
	background: linear-gradient(135deg, #3E1316 0%, #722C32 100%);
	mix-blend-mode: normal;
}

.pdx {
	padding-top: 5%;
	padding-bottom: 5%;
}

.center {
	margin: auto;
	width: 100%;
	padding: 20px;
    padding-top: 20px;
}

* {
	font-family: 'Poppins', sans-serif;
}

.parent {
	align-items: center;
	display: flex;
	justify-content: center;
}